ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

#search-input {
    margin-top: 5px;
    height: 40px;
    float: right;
}

#search-button{
    margin-top: 5px;
    padding: 0px 10px;
    height: 40px;
    float: right;
    background-color: #3a94d0;
    border-radius: 2px;
    border: none;
    color: #ffffff;
    cursor: pointer;
}